{{ role }}
set system host-name {{ hostname }}

set interfaces ethernet {{ wan_interface }} address {{ wan_ip }}
set interfaces ethernet {{ wan_interface }} description {{ wan_interface_descr }}


set interfaces ethernet {{ lan_interface }} address {{ lan_ip }}
set interfaces ethernet {{ lan_interface }} description {{ lan_interface_descr }}

{% if role == 'standalone' %}
set protocols static route 0.0.0.0/0 next-hop {{ nbr_ip }}
{% endif %}

{% if vrrp == '0' %}
{# Skip vrrp configuration #}
{% else %}
set high-availability vrrp group 1 vrid 10
set high-availability vrrp group 1 interface {{ lan_interface }}
set high-availability vrrp group 1 address {{ vip }}
{% if role == primary %}
set high-availability vrrp group 1 priority 110
{% else %}
set high-availability vrrp group 1 priority 105
{% endif %}
{% endif %}

{% if bgp == 0 %}
{# Skip BPG protocol configuration #}
{% else %}
set policy prefix-list BGP-EXPORT rule 5 action deny
set policy prefix-list BGP-EXPORT rule 5 prefix 0.0.0.0/0
set policy prefix-list BGP-EXPORT rule 10 action permit
set policy prefix-list BGP-EXPORT rule 10 prefix {{ lan_subnet }}

set policy prefix-list BGP-DENY rule 90 action deny
set policy prefix-list BGP-DENY rule 90 prefix 212.0.0.0/24
set policy prefix-list BGP-DENY rule 100 prefix 0.0.0.0/0
set policy prefix-list BGP-DENY rule 100 le 32
set policy prefix-list BGP-DENY rule 100 action permit

set policy route-map BGP-IMPORT-PRI rule 10 action permit
set policy route-map BGP-IMPORT-PRI rule 10 set local-preference 900
set policy route-map BGP-IMPORT-PRI rule 10 set metric 10

set policy route-map BGP-IMPORT-BACKUP rule 10 action permit
set policy route-map BGP-IMPORT-BACKUP rule 10 set metric 20

set policy route-map BGP-EXPORT-PRI rule 2 action 'permit'
set policy route-map BGP-EXPORT-PRI rule 2 set metric 10
set policy route-map BGP-EXPORT-PRI rule 4 action 'permit'
set policy route-map BGP-EXPORT-PRI rule 4 match ip address prefix-list BGP-EXPORT

set policy route-map BGP-EXPORT-BACKUP rule 2 action 'permit'
set policy route-map BGP-EXPORT-BACKUP rule 2 set metric 20
set policy route-map BGP-EXPORT-BACKUP rule 4 action 'permit'
set policy route-map BGP-EXPORT-BACKUP rule 4 match ip address prefix-list BGP-EXPORT

set protocols bgp system-as {{ asn }}
set protocols bgp address-family ipv4-unicast redistribute static
set protocols bgp address-family ipv4-unicast redistribute connected
set protocols bgp neighbor {{ nbr_ip }} remote-as {{ remote_asn }}
{% if role == primary %}
set protocols bgp neighbor {{ nbr_ip }} address-family ipv4-unicast route-map import 'BGP-IMPORT-PRI'
set protocols bgp neighbor {{ nbr_ip }} address-family ipv4-unicast route-map export 'BGP-EXPORT-PRI'
{% else %}
set protocols bgp neighbor {{ nbr_ip }} address-family ipv4-unicast route-map import 'BGP-IMPORT-BACKUP'
set protocols bgp neighbor {{ nbr_ip }} address-family ipv4-unicast route-map export 'BGP-EXPORT-BACKUP'
{% endif -%}
set protocols bgp neighbor {{ nbr_ip }} address-family ipv4-unicast soft-reconfiguration 'inbound'
{% endif %}

{% if static_route == 0 %}
{# Skip static route configuration #}
{% else %}
{% for item in static_route_networks -%}
{% set item_1 = static_route_networks[loop.index-1] %}
{% if role == standalone %}
set protocols static route {{item_1}} next-hop {{next_hop}}
{% else %}
set protocols failover route {{item_1}} next-hop {{next_hop}} check target '{{next_hop}}'
set protocols failover route {{item_1}} next-hop {{next_hop}} check timeout '5'
set protocols failover route {{item_1}} next-hop {{next_hop}} check type 'icmp'
set protocols failover route {{item_1}} next-hop {{next_hop}} interface {{ lan_interface }}
set protocols failover route {{item_1}} next-hop {{next_hop}} metric '10'
{% endif %}
{% endfor -%}

{% set ns = namespace(counter=10) %}
{% for line in static_route_networks -%}
    {% set ns.counter = ns.counter + 5 %}
set policy prefix-list BGP-EXPORT rule {{ ns.counter }} action permit
set policy prefix-list BGP-EXPORT rule {{ ns.counter }} prefix {{ line }}
{% endfor -%}
{% endif %}

{% if ospf == 0 %}
{# Skip OSPF configuration #}
{% else %}
set policy route-map OSPF-TO-BGP rule 10 match tag 1000
set policy route-map OSPF-TO-BGP rule 10 action deny
set policy route-map OSPF-TO-BGP rule 20 set metric 10
set policy route-map OSPF-TO-BGP rule 20 set weight 0
set policy route-map OSPF-TO-BGP rule 20 action permit

set policy route-map BGP-TO-OSPF rule 10 set tag 1000
set policy route-map BGP-TO-OSPF rule 10 action permit

set protocols ospf parameters router-id {{ lan_ipaddr }}
set protocols ospf interface {{ lan_interface }} area {{ ospf_area }}
set protocols ospf log-adjacency-changes
set protocols ospf redistribute bgp
set protocols ospf redistribute bgp metric 10
set protocols bgp address-family ipv4-unicast redistribute ospf route-map OSPF-TO-BGP
{% endif %}

{# set system login user {{ username }} authentication plaintext-password {{ password }} #}

{% if dhcp_server == 0 %}
{# Skip dhcp server configuration #}
{% else %}
set service dhcp-server shared-network-name LAN subnet {{ lan_subnet }} default-router {{ lan_ipaddr }}
set service dhcp-server shared-network-name LAN subnet {{ lan_subnet }} name-server '8.8.8.8'
set service dhcp-server shared-network-name LAN subnet {{ lan_subnet }} name-server '8.8.4.4'
set service dhcp-server shared-network-name LAN subnet {{ lan_subnet }} lease 43200
set service dhcp-server shared-network-name LAN subnet {{ lan_subnet }} range LAN start {{ dhcp_start }}
set service dhcp-server shared-network-name LAN subnet {{ lan_subnet }} range LAN stop {{ dhcp_end }}
{% endif %}

{% if dhcp_relay == 0 %}
{# Skip dhcp relay server configuration #}
{% else %}
set service dhcp-relay listen-interface {{ lan_interface }}
set service dhcp-relay upstream-interface {{ wan_interface }}
{% for item in dhcp_relay_ip -%}
{% set item_1 = dhcp_relay_ip[loop.index-1] %}
set service dhcp-relay server {{item_1}}
{% endfor -%}
{% endif %}

{% if snat == 0 %}
{# Skip SNAT configuration #}
{% else %}
set nat source rule 20 outbound-interface name {{ wan_interface }}
set nat source rule 20 protocol all
set nat source rule 20 source address {{ lan_subnet }}
set nat source rule 20 translation address {{ wna_ip }}
{% endif %}

set firewall ipv4 name mgmt rule 100 description ssh
set firewall ipv4 name mgmt rule 100 protocol tcp
set firewall ipv4 name mgmt rule 100 action accept
set firewall ipv4 name mgmt rule 100 destination port 22

set firewall ipv4 name mgmt rule 120 description snmp
set firewall ipv4 name mgmt rule 120 destination port 161
set firewall ipv4 name mgmt rule 120 action accept
set firewall ipv4 name mgmt rule 120 protocol udp

{% if netflow == 0 %}
## Skip customer static route configuration ##
{% else %}
set system flow-accounting interface {{ wan_interface }}
set system flow-accounting netflow version 5
set system flow-accounting netflow server {{ netflow_server }}
set system flow-accounting netflow source-ip {{ wan_ip }}
set system flow-accounting netflow sampling-rate 100
set system flow-accounting netflow timeout expiry-interval 30
{% endif %}
